<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="javascripts/socket.io.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<body>
  <h1>hi socket.io</h1>
</body>
<script>
  var i = 0
  //建立连接
  var socket = io.connect('http://localhost:3000')
  //监听服务端连接事件
  socket.on('open',function(){
    console.log('连接成功')
    // var msg = {
    // }
    socket.send('连接成功')
  })
  //监听message事件，打印消息
  socket.on('message',function(json){
    console.log('msg:',json)
  })
  //自定义名称，也可以
  socket.on('test',function(json){
    console.log('test msg:',json)
  })
</script>
</html>